:root {
    --gradient: linear-gradient(
        to bottom right,
        green,
        white,
        yellow
    )
}
.cabecalho {
    background-image: url('paraná apenas.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.cabecalho-imagem {
    background-image: var(--gradient);

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.cabecalho-lista {
    align-items: center; /* centralizar */
    justify-content: center; /* centralizar o conteúdo */
    display: flex;
    position: initial;
    top: 100%;
    width: 100%;
    font-size: 135%;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    
}
.cabecalho-lista-item1 {
    display: inline-block; /* uma palavra na frente da outra*/
    align-items: center; /* centralizar */
    background-image: linear-gradient(
        to top right, skyblue, blue
    );
    justify-content: center; /* centralizar o conteúdo */
    margin: 0px 0px;
    padding: 16px 0px;
}
.cabecalho-lista-item2 {
    display: inline-block; /* uma palavra na frente da outra*/
    align-items: center; /* centralizar */
    background-image: linear-gradient(
        to top right, skyblue, blue
    );
    width: 50%;
    justify-content: center; /* centralizar o conteúdo */
    margin: 0 20px;
    padding: 3px 0px;
    position: relative;
    left: 7%;
}
.cabecalho-lista-item3 {
    display: inline-block; /* uma palavra na frente da outra*/
    align-items: center; /* centralizar */
    background-image: linear-gradient(
        to top right, skyblue, blue
    );
    width: 71%;
    justify-content: center; /* centralizar o conteúdo */
    margin: 0 20px;
    padding: 16px 0px;
    position: relative;
    left: 3%;
}
.cabecalho-lista-item4 {
    display: inline-block; /* uma palavra na frente da outra*/
    align-items: center; /* centralizar */
    background-image: linear-gradient(
        to top right, skyblue, blue
    );
    width: 58%;
    justify-content: center; /* centralizar o conteúdo */
    margin: 10 20px;
    padding: 3px 0px;
    position: relative;
    left: 47%;
}
.cabecalho-lista-item5 {
    display: inline-block; /* uma palavra na frente da outra*/
    align-items: center; /* centralizar */
    background-image: linear-gradient(
        to top right, skyblue, blue
    );
    width: 35%;
    justify-content: center; /* centralizar o conteúdo */
    margin: 0 20px;
    padding: 3px 0px;
    position: relative;
    left: 98%;
}
.cabecalho-lista-item6 {
    display: inline-block; /* uma palavra na frente da outra*/
    align-items: center; /* centralizar */
    background-image: linear-gradient(
        to top right, skyblue, blue
    );
    width: 43%;
    justify-content: center; /* centralizar o conteúdo */
    margin: 0 20px;
    padding: 3px 0px;
    position: relative;
    left: 50%;
}
.cabecalho-lista-item7 {
    display: inline-block; /* uma palavra na frente da outra*/
    align-items: center; /* centralizar */
    background-image: linear-gradient(
        to top right, skyblue, blue
    );
    width: 85%;
    justify-content: center; /* centralizar o conteúdo */
    margin: 0 10px;
    padding: 16px 0px;
    position: relative;
    left: 5%;
    position: relative;
    left: 26%;
}
.cabecalho-lista-item8 {
    display: inline-block; /* uma palavra na frente da outra*/
    align-items: center; /* centralizar */
    background-image: linear-gradient(
        to top right, skyblue, blue
    );
    width: 76%;
    justify-content: center; /* centralizar o conteúdo */
    margin: 0 10px;
    padding: 16px 0px;
    position: relative;
    left: 53%;
}
.cabecalho-lista-item9 {
    display: inline-block; /* uma palavra na frente da outra*/
    align-items: center; /* centralizar */
    background-image: linear-gradient(
        to top right, skyblue, blue
    );
    width: 50%;
    justify-content: center; /* centralizar o conteúdo */
    margin: 0 15px;
    padding: 2px 0px;
    position: relative;
    left: 26%;
}
.cabecalho-lista-item10 {
    display: inline-block; /* uma palavra na frente da outra*/
    align-items: center; /* centralizar */
    background-image: linear-gradient(
        to top right, skyblue, blue
    );
    width: 99.9%;
    justify-content: center; /* centralizar o conteúdo */
    margin: 0 0px;
    padding: 16px 0px;
}
.eu {
    background-color: rgba(241, 241, 241, 0.8); /* Aumenta a transparência do quadrado */
    width: 21%;
    margin: auto;
    border-radius: 0px;
    align-items: center; /* centralizar */
    justify-content: center; /* centralizar o conteúdo */
    padding: 0px;
    box-shadow: 0px 0px 10px rgba(235, 233, 233, 0.801);
    text-align: justify;
    font-family: 'Georgia', serif; /* Muda a fonte da seção sobre */
    position: absolute;
    bottom: -375%; /* Move a seção para baixo */
    left: 0%;
}
